.menu-page {
  margin: auto;
  display: flex;
  flex-direction: column;

  h1 {
    align-self: center;
    font-weight: 400;
    font-size: 35px;
    margin: 20px;
  }
}

.react-tabs__tab {
  flex-wrap: nowrap;
  display: inline-block;
  border: none;
  border-bottom: 1.5px solid rgb(216, 216, 216);
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 10px 10px;
  cursor: pointer;
  color: rgb(194, 194, 194);

  &--selected {
    border-bottom: 1.5px solid black;
    background: #fff;
    color: black;
    font-weight: 450;
    border-radius: 5px 5px 0 0;
  }
}

ul {
  padding-inline-start: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  padding: 10px;
  white-space: nowrap;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 10px;
    }

    .menu-item-name-description {
      padding-right: 10px;
    }

    .name,
    .price {
      font-weight: 450;
    }

    .description {
      color: rgba(0, 0, 0, 0.6);
    }

    .menu-item-price {
      align-self: flex-start;
      text-align: right;
      white-space: nowrap;
    }
  }
}

@media (min-width: 768px) {
  .react-tabs {
    max-width: 700px;
    align-self: center;
    width: 100%;
  }

  .menu-items {
    gap: 10px;
  }
}
