.menu-page {
  margin: auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-weight: 400;
    font-size: 35px;
    margin: 20px;
    margin-top: 40px;
    text-align: center;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    margin: 25px;
  }

  .icon {
    font-size: 24px;
    margin: 0 15px;
    cursor: pointer;
    color: gray;
  }

  .icon.active {
    color: black;
  }

  .back-arrow {
    margin: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    max-height: unset;
    cursor: pointer;

    &.icon {
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.contact-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  h2 {
    margin: 30px 0;
  }
}

.menu-content {
  flex-grow: 1;
}

.react-tabs__tab {
  display: inline-block;
  border: none;
  border-bottom: 1.5px solid rgb(216, 216, 216);
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 10px 10px;
  cursor: pointer;
  color: rgb(194, 194, 194);

  &--selected {
    border-bottom: 1.5px solid black;
    background: #fff;
    color: black;
    font-weight: 450;
    border-radius: 5px 5px 0 0;
  }
}

ul {
  padding-inline-start: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  white-space: nowrap;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  padding: 10px;
  white-space: nowrap;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 10px;
    }

    .menu-item-name-description {
      padding-right: 10px;
    }

    .name,
    .price {
      font-weight: 450;
    }

    .description {
      color: rgba(0, 0, 0, 0.6);
    }

    .menu-item-price {
      align-self: flex-start;
      text-align: right;
      white-space: nowrap;
    }
  }
}

@media (min-width: 800px) {
  .menu-page {
    align-items: center;
  }

  .react-tabs {
    max-width: 800px;
    width: 100%;
  }

  .menu-content {
    min-width: 400px;
  }

  .menu-items {
    gap: 10px;
  }
}
